// Colors - Project Sourcing Milestones
$feg-color: #d0b2e6;
$csg-cg-color: #ff7f7f;
$dg-fdg-color: #f5ee57;
$sp-start-color: white;
$border-color: #f0f0f0;

// Colors - Cross Func
$xfunc-thead-border: 0.5px solid #9e9696;
$xfunc-th-color-odd: rgb(214, 214, 224);
$xfunc-th-color-even: whitesmoke;

$xfunc-td-color-deadline: #e0adb0;
$xfunc-subTitle: #95979a;

